---
layout: default
---

<head>
    <script type="module" src="https://js.arcgis.com/calcite-components/2.6.0/calcite.esm.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/2.6.0/calcite.css" />
    <style>
        calcite-card {
            width: 240px;
        }

        @media (max-width: 800px) {
            calcite-card {
                width: calc(100% / 2 - .5rem);
            }
        }

        @media (max-width: 400px) {
            calcite-card {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <calcite-card-group label="label">
        <calcite-card label="Downtown parking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Kangaroo Island Burn Analysis</span>
            <calcite-link slot="subtitle">03/17/2024</calcite-link>
            <div slot="footer-end">
                <calcite-chip id ="updated" value="calcite chip" icon="check-circle" scale="s"></calcite-chip>
                <calcite-chip id ="agol" value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip id ="github" value="calcite chip" icon="code" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <a href="../pages/another-page"><calcite-chip id ="view" value="calcite chip" kind="brand" icon="send" scale="m"></calcite-chip></a>
            </div>
        </calcite-card>
        <calcite-tooltip reference-element="updated" placement="bottom">Updated</calcite-tooltip>
        <calcite-tooltip reference-element="agol" placement="bottom">ArcGIS Online</calcite-tooltip>
        <calcite-tooltip reference-element="github" placement="bottom">GitHub</calcite-tooltip>
        <calcite-tooltip reference-element="view" placement="right">View</calcite-tooltip>
    </calcite-card-group>
</body>