---
layout: default
---

<head>
    <script type="module" src="https://js.arcgis.com/calcite-components/2.6.0/calcite.esm.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/2.6.0/calcite.css" />
    <style>
        calcite-card {
            width: 240px;
        }

        @media (max-width: 800px) {
            calcite-card {
                width: calc(100% / 2 - .5rem);
            }
        }

        @media (max-width: 400px) {
            calcite-card {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <calcite-card-group label="label">
        <calcite-card label="Kangaroo Island">
            <img slot="thumbnail" alt="Kangaroo Island Image" src="../assets/img/kangaroo_island_result.png" loading="lazy">
            <span slot="title">Kangaroo Island Wildfire Analysis</span>
            <calcite-link slot="subtitle">03/17/2024</calcite-link>
            <div slot="footer-end">
                <calcite-chip id ="type_kangaroo" value="calcite chip" icon="pencil" scale="s"></calcite-chip>
                <calcite-chip id ="gis_kangaroo" value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip id ="code_kangaroo" value="calcite chip" icon="code" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <a href="../pages/another-page"><calcite-chip id ="view_kangaroo" value="calcite chip" kind="brand" icon="send" scale="m"></calcite-chip></a>
            </div>
        </calcite-card>
        <calcite-tooltip reference-element="type_kangaroo" placement="bottom">Project</calcite-tooltip>
        <calcite-tooltip reference-element="gis_kangaroo" placement="bottom">ArcGIS Pro</calcite-tooltip>
        <calcite-tooltip reference-element="code_kangaroo" placement="bottom">Python</calcite-tooltip>
        <calcite-tooltip reference-element="view_kangaroo" placement="right">View</calcite-tooltip>

        <calcite-card label="Hexagons">
            <img slot="thumbnail" alt="Hexagon Image" src="../assets/img/hexagon_result.png" loading="lazy">
            <span slot="title">Understanding H3 Hexagons</span>
            <calcite-link slot="subtitle">03/17/2024</calcite-link>
            <div slot="footer-end">
                <calcite-chip id ="type_hex" value="calcite chip" icon="pencil" scale="s"></calcite-chip>
                <calcite-chip id ="gis_hex" value="calcite chip" icon="globe" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <a href="../pages/another-page"><calcite-chip id ="view_hex" value="calcite chip" kind="brand" icon="send" scale="m"></calcite-chip></a>
            </div>
        </calcite-card>
        <calcite-tooltip reference-element="type_hex" placement="bottom">Project</calcite-tooltip>
        <calcite-tooltip reference-element="gis_hex" placement="bottom">ArcGIS Pro</calcite-tooltip>
        <calcite-tooltip reference-element="view_hex" placement="right">View</calcite-tooltip>

        <calcite-card label="Wine Suitability">
            <img slot="thumbnail" alt="Wine Image" src="../assets/img/wine_result.png" loading="lazy">
            <span slot="title">Wine Suitability with Python</span>
            <calcite-link slot="subtitle">06/22/2023</calcite-link>
            <div slot="footer-end">
                <calcite-chip id ="type_wine" value="calcite chip" icon="education" scale="s"></calcite-chip>
                <calcite-chip id ="gis_wine" value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip id ="code_wine" value="calcite chip" icon="code" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <a href="https://learn.arcgis.com/en/projects/classify-climate-regions-with-python/"><calcite-chip id ="view_hex" value="calcite chip" kind="brand" icon="send" scale="m"></calcite-chip></a>
            </div>
        </calcite-card>
        <calcite-tooltip reference-element="type_wine" placement="bottom">Learn Lesson</calcite-tooltip>
        <calcite-tooltip reference-element="gis_wine" placement="bottom">ArcGIS Pro</calcite-tooltip>
        <calcite-tooltip reference-element="code_wine" placement="bottom">Python</calcite-tooltip>
        <calcite-tooltip reference-element="view_wine" placement="right">View</calcite-tooltip>

    </calcite-card-group>
</body>