---
layout: default
---

<head>
    <script type="module" src="https://js.arcgis.com/calcite-components/2.6.0/calcite.esm.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/2.6.0/calcite.css" />
    <style>
        calcite-card {
            width: 240px;
        }

        @media (max-width: 800px) {
            calcite-card {
                width: calc(100% / 2 - .5rem);
            }
        }

        @media (max-width: 400px) {
            calcite-card {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <calcite-card-group label="label">
        <calcite-card label="Downtown parking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Downtown parking zone</span>
            <calcite-link slot="subtitle">City of AcmeCo</calcite-link>
            <div slot="footer-end">
                <calcite-chip value="calcite chip" icon="check-circle" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="security" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <calcite-chip value="calcite chip" icon="user" scale="s"></calcite-chip>
            </div>
        </calcite-card>
        <calcite-card label="Westside parking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Westside parking zone</span>
            <calcite-link slot="subtitle">City of AcmeCo</calcite-link>
            <div slot="footer-end">
                <calcite-chip value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="security" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <calcite-chip value="calcite chip" icon="user" scale="s"></calcite-chip>
            </div>
        </calcite-card>
        <calcite-card label="Eastside parking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Eastside parking zone</span>
            <calcite-link slot="subtitle">City of AcmeCo</calcite-link>
            <div slot="footer-end">
                <calcite-chip value="calcite chip" icon="check-circle" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="security" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <calcite-chip value="calcite chip" icon="user" scale="s"></calcite-chip>
            </div>
        </calcite-card>
        <calcite-card label="Northwest parking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Northwest parking zone</span>
            <calcite-link slot="subtitle">City of AcmeCo</calcite-link>
            <div slot="footer-end">
                <calcite-chip value="calcite chip" icon="globe" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="security" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <calcite-chip value="calcite chip" icon="user" scale="s"></calcite-chip>
            </div>
        </calcite-card>
        <calcite-card label="Northeast praking zone">
            <img slot="thumbnail" alt="Sample image alt" src="https://placebear.com/240/180">
            <span slot="title">Northeast parking zone</span>
            <calcite-link slot="subtitle">City of AcmeCo</calcite-link>
            <div slot="footer-end">
                <calcite-chip value="calcite chip" icon="check-circle" scale="s"></calcite-chip>
                <calcite-chip value="calcite chip" icon="security" scale="s"></calcite-chip>
            </div>
            <div slot="footer-start">
                <calcite-chip value="calcite chip" icon="user" scale="s"></calcite-chip>
            </div>
        </calcite-card>
    </calcite-card-group>
</body>